<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/index_style.css">
    
</head>
<body>
    <div class='Dashboard'>
        
        <a href="school_index"><div  class='School'> <img src="/static/school_image.jpeg">School </div></a>
        <a href="district_index"><div  class='School'> <img src="/static/school_image.jpeg">District </div></a>
        <a href="gov_index"><div class='Government'> <img src="/static/round_gov.png">Government </div></a>
    </div>
</div>
</body>
</html>



